@import './modal.css';



* {
    margin: 0rem;
    padding: 0rem;
    font-size: 18px;
}

p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Iceberg', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page_header {
    margin: 0px;
    padding: 0px;
    height: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#page_header h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(67, 90, 60);
    height: relative;
    width: 100%;
}

/* This defines the horizontal wrapper for the Intro*/
.introSection {
    margin: 1rem 0rem 1rem 0rem;
    padding: 0px;
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
}

.introSection img {
    margin: 0rem;
    padding: 0rem;
    width: relative;
    height: 16rem;

}

.introSection p {
    margin: 0rem;
    padding: 0rem 1.4rem;
    text-align: justify;
    font-weight: 300;
    color: #222;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16rem;
    font-size: 1.2rem;
}

/* This defines the horizontal wrapper for the buttons*/
.buttonSection {
    margin: 0rem;
    padding: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.buttonSection a {
    margin: 0.55rem;
    padding: 0.55rem;
    width: 6.5rem;
    height: 6.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Black Ops One', cursive;
    font-weight: lighter;
    font-size: 1.6rem;
    background-color: #555;
    display: flex;
    align-items: center;
    text-align: center;
}

.buttonSection a:hover {
    background-color: rgb(35, 46, 32);
    color: rgb(67, 90, 60);
    border-color: rgb(67, 90, 60);
}

#page_footer {
    color: #555;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: relative;
    text-align: center;
}

#page_footer p {
    font-family: 'Roboto condensed';
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    
    #page_header h1 {
        font-size: 1.5rem;

    }

    .introSection {
        margin: 0rem 0rem 1rem 0rem;
        flex-direction: column;
    }

    .introSection img {
        max-height: 12rem;
        width: auto;
    }

    .introSection p {
        padding: 1rem 1rem;
        font-size: auto;
        height: auto;

    }
    
    .buttonSection a {
        width: 5rem;
        height: 5rem;
        font-size: 1.2rem;
    }
}