@import './modal.css';

p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Iceberg', Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page_header {
    margin: 0px;
    padding: 5px;
    background-color: rgb(67, 90, 60);
    height: 70px;
    width: 100%;
    text-align: center;
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

h1 {
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0px;
    white-space: nowrap;
}

/* This defines the horizontal wrapper for the Intro*/
.introSection {
    margin: 20px 15%;
    display: flex;
    justify-content: flex-end;
    background-color: #555;
    min-width: 720px;
    max-height: 35vh;
    border: solid 5px black;
    border-radius: 20px;
    overflow: hidden;
}

.introSection img {
    height: 100%;
}

.introWrapper {
    display: flex;
    padding: 20px;
    min-width: 40%;
}

.introWrapper p {
    text-align: justify;
    font-size: 1.5em;
    color: black;
    margin: 0px;
}

/* This defines the horizontal wrapper for the buttons*/
.buttonSection {
    padding: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.buttonSection a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 60px;
    color: black;
    background-color: #555;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 28px;
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 15px;
    border: solid 2px black;
}

.buttonSection a:hover {
    background-color: rgb(35, 46, 32);
    color: rgb(67, 90, 60);
    border-color: rgb(67, 90, 60);
}

#page_footer {
    color: #555;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: relative;
    text-align: center;
    font-family: 'Roboto condensed';
    font-size: 14px;
}
