@import './modal.css';

@media only screen and (min-width: 768px) {

    #page_header {
        margin: 0px 0px 20px 0px;
        padding: 5px;
        background-color: rgb(67, 90, 60);
        height: auto;
        max-height: 120px;
        width: 100%;
        text-align: center;
        font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .introSection {
        margin: 20px;
        padding: 0px;
        background-color: #555;
        width: 90%;
        border: solid 5px black;
        overflow: hidden;
    }
    
    .introWrapper {
        display: inline-flex;
        flex-direction: row;
        background-color: #555;
        margin: 0px;
        padding: 0px;
        height: 180px;
        width: 720px;
        border: solid 5px black;
        border-radius: 20px;
    }

    .introSection img {
        height: auto;
        max-width: 320px;
        border-radius: 15px 0px 0px 15px;
    }

    .introWrapper p {
        display: flex;
        text-align: justify;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: #222;
        background-color: #555;
        width: 90%;
        height: 180px;
        margin: 0px;
        padding: 0px 20px 0px 20px;
        border-radius: 0px 15px 15px 0px;
    }
    
}

p {
    font-family: 'Oswald', sans-serif;
    font-family: 'Iceberg', Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page_header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(67, 90, 60);
    height: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: auto;
}

h1 {
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0px;
    white-space: nowrap;
}

/* This defines the horizontal wrapper for the Intro*/

.introSection {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.introSection img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.introSection p {
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #222;
    background-color: #555;
    width: -1rem;
    height: auto;
    margin: 0px;
    padding: 10px 15px;
}

/* This defines the horizontal wrapper for the buttons*/
.buttonSection {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.buttonSection a {
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
    text-decoration: none;
    color: black;
    font-family: 'Black Ops One', cursive;
    font-weight: lighter;
    font-size: 30px;
    background-color: #555;
    display: flex;
    align-items: center;
    text-align: center;
}

.buttonSection a:hover {
    background-color: rgb(35, 46, 32);
    color: rgb(67, 90, 60);
    border-color: rgb(67, 90, 60);
}

#page_footer {
    color: #555;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: relative;
    text-align: center;
    font-family: 'Roboto condensed';
    font-size: 14px;
}
