@import './modal.css';

* {
    margin: 0;
}

p {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Iceberg', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Black Ops One', Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

body {
    width: 100%;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 90, 60);
    box-shadow: 0px 0px 6px;
    z-index: 1;
}

#page_header h1 {
    font-size: 3rem;
}

/* This defines the horizontal wrapper for the Intro*/
.introSection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.introSection img {
    width: 40vw;
    height: 100%;
    max-height: 20rem;
}

.introSection p {
    padding: 24px;
    text-align: justify;
    color: #222;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
}

/* This defines the horizontal wrapper for the buttons*/
.buttonSection {
    margin: 2rem 0rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonSection a {
    margin: 10px 4vw;
    padding: 0.55rem;
    width: 6.5rem;
    height: 6.5rem;
    text-decoration: none;
    color: black;
    font-family: 'Black Ops One', cursive;
    font-weight: lighter;
    font-size: 1.6rem;
    background-color: #555;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.buttonSection a:hover {
    background-color: rgb(35, 46, 32);
    color: rgb(67, 90, 60);
    border-color: rgb(67, 90, 60);
}

#page_footer {
    color: #555;
    width: 100%;
    text-align: center;
    font-family: 'Roboto condensed';
    font-size: 0.8rem;
    margin: 10px;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 812px) {

    #page_header h1 {
        font-size: 9vw;
        white-space: nowrap;
        height: auto;
    }

    .introSection {
        flex-direction: column;
    }

    .introSection img {
        width: 24rem;
        height: auto;
    }

    .introSection p {
        padding: 1rem;
        height: auto;
        font-size: 18px;
    }

    .buttonSection a {
        width: 5rem;
        height: 5rem;
        font-size: 1.2rem;
        margin: 10px 22px;
    }

    #page_footer {
        position: relative;
    }
}
