.modal_parent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
    opacity: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60vw;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #555;
}

.modal h1 {
    color: whitesmoke;
    background-color: darkolivegreen;
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 10px;
}

.modal h2 {
    text-align: center;
    color: #999;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
}

.modal p {
    text-align: justify;
    padding: 6px 24px;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.modal a {
    margin: 10px 40%;
    padding: 4px 15px;
    text-decoration: none;
    color: #222;
    background-color: darkgray;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 18px;
    border-radius: 5px;
}

.modal a:hover {
    background-color: rgb(67, 90, 60);
    color: whitesmoke;
    box-shadow: 0px 0px 2px;
}

/*
 ~~~~ Rules Modal Box ~~~~
 */

/* width */
::-webkit-scrollbar {
    width: 1rem;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #232222, transparent, #232222);
  }

  /* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, gray, whitesmoke);
    border-radius: 1rem;
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
  }

#rulesButton:target {
    opacity: 1;
    pointer-events: auto;
}

#releaseNotesButton {
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#releaseNotesButton a {
    margin: 0;
}

#releaseNotesButton a:hover {
    background-color: rgb(182, 76, 76);
}

/*
 ~~~~ MODAL BOX: Release Notes ~~~~
*/
#releaseNotes:target {
    opacity: 1;
    pointer-events: auto;
}

/*
~~~~ MODAL BOX: Future Features ~~~~
*/
#futureFeatures:target {
    opacity: 1;
    pointer-events: auto;
}

#futureFeatures ul {
    margin: 10px;
    color: rgb(195 69 69);
    text-shadow: 0px 0px 1px black;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#futureFeatures li::before {
    margin: 0px;
    padding: 0px;
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: grey; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em;

}

/*
 ~~~~ MODAL BOX: Legal ~~~~
*/
#legalButton:target {
    opacity: 1;
    pointer-events: auto;
}

/*
 ~~~~ MODAL BOX: About the Makers ~~~~
 */
#makerButton:target {
    opacity: 1;
    pointer-events: auto;
}

#makerButton img {
    margin: 0px;
    padding: 0px;
    width: 360px;
    height: relative;
    border: 1px solid black;
}

/*
 ~~~~ MODAL BOX: Hero ~~~~
*/
#heroButton:target {
    opacity: 1;
    pointer-events: auto;
}

.heroIntro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0rem;
    padding: 0rem;
}

.cardWrapper {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    height: relative;
    width: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.heroWrapper {
    min-width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: grey;
}

.heroWrapper a {
    margin: 0rem;
    padding: 0rem;
    text-decoration: none;
}

.heroWrapper a:hover {
    opacity: 0.5;
}

.hero {
    padding: 0rem;
    display: flex;
    flex-direction: column;
}

.hero h3 {
    font-family: 'Roboto condensed';
    font-weight: 700;
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 0.2rem 0rem;
    background-color: #777;
    border-right: solid 0.1rem whitesmoke;
    width: 100%;
}

.hero img {
    margin: 0rem;
    padding: 0rem;
    min-height: 6rem;
    width: 100%;
}

.hero p {
    font-family: 'Roboto condensed';
    font-size: 1rem;
    min-height: 4rem;
    border-right: solid 0.1rem whitesmoke;
}

.closeButton {
    margin: 1rem 0rem 1rem 0rem;
    padding: 0rem 1rem;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {

}
